body{
  background-image:url("https://eastonialeopards.com/wp-content/uploads/2017/04/movie-article.jpg") !important;
  background-repeat : no-repeat;
  background-size:cover;
  background-position:center;
  color:white;
    }
  .navbar {
    height:15mm;
    
  }

.logo {
    height:11mm;
    width:15mm;
    position:relative;
    top: 8px;
    
}
.jumbotron{
    background-color: darkgray;
}
.btn{
  font-size: 20px;
  background-color: aqua;
  border-radius: 30%;
}
.jumbotron h2{
  font-family:philosopher;
    text-align:center;
    font-size: 50px;  
}
.welcome{
  position:relative;
  bottom: 20px;
}

.thumbnail{
  width: 100%;
  height:100%;
  overflow: hidden;
}
img {
  -webkit-transition: all 0.5s ease;
  height: 150px;                            
}
img:hover {
  transform: scale(1.4);

}
.footer {
    position:relative;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: #ccc;
    height: 4rem;
  }

  .footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: darkslategray;
  }
  .information {
    font-size:20px;
}
.figure-caption {
  color: black !important;
  font-family: 'Trebuchet MS' ; 
  text-align:center;
  font-size: 20px;
  background-color: white;
}
.img-thumbnail {
  border-radius: 2px solid black!important;
  background-color:white !important;
}



p .btn{
  border-radius: 20px;
}
a {text-decoration:none !important;}

 

